.html,body {
  background-color: rgba(236, 236, 236, 0.42);
  overflow-x: hidden;
  max-width: 100%;
}

.Nav-Links {
  list-style-type: none;
  overflow: hidden;
  background: linear-gradient(#b41717, #e27132);
}

.nav-link-home {
  position: relative;
  color: white;
  padding: 10px 10px;
  margin-right: 10px;
  text-decoration: none;
  float: right;
  background: linear-gradient(#262626, #9d3434);
  border-radius: 10px;
}

.nav-link-signup {
  position: relative;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  float: left;
  background: linear-gradient(#262626, #9d3434);
  border-radius: 10px;
  margin-right: 10px;
  right: 20px;
}

.nav-link-username {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li Link:hover:not(.active) {
  background-color: #111;
}

.nav-link-logout {
  position: relative;
  float: right;
  padding: 10px 10px;
  background: linear-gradient(#262626, #9d3434);
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.nav-link-login {
  position: relative;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  float: left;
  background: linear-gradient(#262626, #9d3434);
  border-radius: 10px;
  margin-right: 10px;
  right: 10px;
}

.home-h1 {
  position: relative;
  left: 800px;
  color: rgba(0, 0, 0, 0.801);
}

.home-p {
  position: relative;
  left: 850px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.801);
}

.url-adder {
  position: relative;
  left: 670px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 50px;
  text-align: center;
  margin: 10px;
}

.url-name {
  position: relative;
  left: 680px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 50px;
  text-align: center;
  margin: 10px;
}

.url-button-add {
  position: relative;
  left: 690px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 50px;
  text-align: center;
  margin: 10px;
}

.url-list {
  position: relative;
  left: 800px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 80px;
  text-align: center;
  margin: 10px;
}

.url-rename {
  text-decoration: none;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  text-align: center;
  margin: 10px;
}

.url-rename:visited {
  color: red;
}

.url-delete {
  text-decoration: none;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  text-align: center;
  margin: 10px;
}

.url-delete:visited {
  color: red;
}

.url1 {
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  text-align: center;
  margin: 10px;
}

.url1:visited {
  color: rgb(173, 50, 173);
}
.home-p1 {
  position: relative;
  left: 850px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.801);
}

.edit-p {
  position: relative;
  left: 900px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.801);
  top: 100px;
}

.delete-p {
  position: relative;
  left: 850px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.801);
  top: 160px;
}

.delete-id {
  position: relative;
  left: 670px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.delete-url {
  position: relative;
  left: 680px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.delete-button {
  position: relative;
  left: 690px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.edit-id {
  position: relative;
  left: 670px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.edit-url {
  position: relative;
  left: 680px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.edit-name {
  position: relative;
  left: 690px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.edit-rename {
  position: relative;
  left: 700px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.url-lists {
  position: relative;
  left: 860px;
  border-radius: 10px;
  top: 300px;
  margin: 10px;
  list-style-type: none;
  color: rgba(255, 5, 5, 0.774);
}


.delete-lists {
  position: relative;
  left: 800px;
  border-radius: 10px;
  top: 250px;
  margin: 10px;
  list-style-type: none;
  color: rgba(255, 5, 5, 0.774);
}

.input-username {
  position: relative;
  left: 670px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.input-email {
  position: relative;
  left: 680px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.input-password {
  position: relative;
  left: 690px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.button-sign-up {
  position: relative;
  left: 700px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.register-form {
  position: relative;
  left: 90px;
  top: 150px;
  text-align: center;
  margin: 10px;
}

.login-username {
  position: relative;
  left: 670px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.login-password {
  position: relative;
  left: 680px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.login-submit {
  position: relative;
  left: 700px;
  border-radius: 10px;
  border-bottom-color: #9d3434;
  border-left-color: #9d3434;
  border-right-color: #9d3434;
  border-top-color: #262626;
  top: 200px;
  text-align: center;
  margin: 10px;
}

.Login-user {
  position: relative;
  left: 7 0px;
  top: 150px;
  text-align: center;
  margin: 10px;
}

